@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel"/>

<div class="text-center">
    <h1 class="display-4">Oi, eu sou a Leticia</h1>
    <p>Meu Instagram -> <a href="https://www.instagram.com/leprogetti/">Clique aqui</a>!</p>
</div>


